services:
  db:
    image: postgres:15
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  directus:
    image: directus/directus:latest
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
    environment:
      KEY: ${KEY}
      SECRET: ${SECRET}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      DB_CLIENT: ${DB_CLIENT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      MARKETPLACE_TRUST: ${MARKETPLACE_TRUST}
      PORT: ${CONTAINER_PORT}
    ports:
      - "${HOST_PORT}:${CONTAINER_PORT}"
    # https://github.com/directus/docs/issues/331#issuecomment-3190266688
    healthcheck:
      test: ["CMD-SHELL", "[ $$(wget -q -O - http://directus:${CONTAINER_PORT}/server/ping) = 'pong' ]"]
      interval: 30s
      timeout: 5s
      retries: 10
      start_interval: 5s
      start_period: 30s
volumes:
  db_data:
